html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: transparent;
}

.viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* isso elimina o branco */
  position: relative;
}

.world {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}

.world img {
  display: block;
  width: 2000px; /* IMPORTANTE: maior que a tela */
  height: auto;
}